body {
    font-family: Arial, sans-serif;
}

.pricing {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.pricing > div {
    padding: 20px;
    width: 220px;
}

.pricing h2 {
    margin-bottom: 10px;
}

.pricing ul {
    margin: 0 0 20px 20px;
    padding: 0;
}

button {
    display: block;      /* forces button onto new line */
}
