.body{
    margin:10px;
    text-align:center;    
    font-family: "Helvetica";                          
    font-size: 18px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 600;
}
