body{
    margin: 20px;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}

.img_rena{
    width:150px;
}

.card{
    width: 400px;
    margin:0 auto;
    align-items: center;
    gap:20px;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 6px solid #d8cefe;
    color: #2b2839;
    background: #ddebf8;
}
 