.main{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    display: block;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

.search{
    margin-top:10px;
    display:block;
    width:400px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn{
    margin-right: 4px;
    margin-left: 4px;
    background-color: #dfe1e5;
    border:none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:30px;
    font-size: 14px;
}